<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.train.dao.QuestionDao">
    <select id="findAll" resultType="QuestionDto">
        SELECT
          *
        FROM
          train_question
    </select>

    <select id="findById" resultType="Question">
        SELECT
          a.question_id,a.question_name,a.question_option,b.question_type_name,a.answer
        FROM
         train_question a,train_question_type b
        WHERE
          train_question = #{consumerName}
    </select>

    <select id="findPage" resultType="QuestionDto">
        SELECT
          a.question_id,a.question_name,a.question_option,b.question_type_name,b.question_type_id,a.answer
        FROM
         train_question a,train_question_type b
        WHERE
          a.question_type = b.question_type_id
        AND
          a.question_name  like concat('%',#{query},'%')
        limit #{start},#{limit}
    </select>
    <select id="findPageCount" resultType="Integer">
        SELECT
         count(1)
        FROM
         train_question
        WHERE
         question_name  like concat('%',#{query},'%')
    </select>

    <select id="findQuestionType" resultType="QuestionType">
        SELECT
          *
        FROM
          train_question_type
    </select>
    <insert id="insertQuestion" parameterType="Question">
        INSERT
        INTO
          train_question (question_name,question_option,answer,question_type)
        VALUES
          (#{questionName},#{questionOption},#{answer},#{questionType})

    </insert>

    <update id="updateQuestion" parameterType="Question">
        UPDATE
         train_question
        SET
          question_name  = #{questionName},
          question_option = #{questionOption},
          answer = #{answer},
          question_type = #{questionType}
        WHERE
         question_id = #{questionId}
    </update>
    <delete id="deleteQuestion" parameterType="Integer">
        DELETE
        FROM
          train_question
        WHERE
          question_id = #{questionId}
    </delete>
</mapper>