<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.inspect.dao.InspectWorkDao">


    <select id="findPage" resultType="InspectWork">
        select
            *
        from
            inspect_work
        WHERE
            product_type LIKE  concat('%',#{query},'%')
        limit
            #{start},#{limit}
    </select>
    <select id="findPageCount" resultType="Integer">
        select
            count(1)
        from
            inspect_work
        WHERE
            product_type LIKE  concat('%',#{query},'%')
    </select>

    <select id="findAllScore" resultType="String">
        SELECT
            inspect_score
        FROM
            inspect_work
    </select>

    <insert id="insertWork" parameterType="InspectWork">
        INSERT
        INTO
          inspect_work(company_name,product_type,audit_type)
        VALUES
          (#{companyName},#{productType},#{auditType})
    </insert>

    <update id="updateWork" parameterType="InspectWork">
        UPDATE
            inspect_work
        SET
            inspect_score = #{inspectScore},
            audit_type = #{auditType}
        WHERE
            work_id = #{workId}
    </update>

    <delete id="deleteWork" parameterType="Integer">
        DELETE
        FROM
          inspect_work
        WHERE
          work_id = #{workId}
    </delete>




</mapper>